<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Randomizer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Randomizer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="clickRandom()">Random</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <div *ngIf="random" >
          <ion-list>
            <ion-list-header>List</ion-list-header>
            <ion-item>
              <ion-label>{{ random.regisvine }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.hypostate }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.fatui }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.ruinMech }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.abyssMage }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.eliteHilichurl }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.eliteCreatures }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.whopperFlower }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.easyHilichurl }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.slime }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.easyHumanEnemy }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.flower }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.vegetablesFruit }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.animal }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{ random.rock }}</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <br />


</ion-content>
